%div{class: 'page-header'}
    %h1 Mock Server - Create/Update Data
    %p{class: "lead"} Create mock responses by specifying the request URL's, response headers, status code and response body !

%form{action: '/mock/create', method: 'post'}
    %div{class: 'row'}
        %div{class: 'form-group col-md-6 has-error'}
            %label{class: 'control-label', for: 'mock_name'} Mock Request Name
            %input{type: 'text', class: 'form-control', id: 'autocomplete', name: 'mock_name', placeholder: 'Mock request name', value: "#{mock_data.nil? ? nil : mock_data.mock_name }"}
            %label{class: 'control-label label-error'}
        %div{class: 'form-group col-md-3'}
            %label{class: 'control-label',for: 'mock_http_status'} Response HTTP Status Code
            %input{class: 'form-control', name: 'mock_http_status', placeholder: 'HTTP Status code', value: "#{mock_data.nil? ? nil : mock_data.mock_http_status }"}
        %div{class: 'form-group col-md-3'}
            %label{class: 'control-label',for: 'mock_state'} Mock State
            %div{class: 'checkbox'}
                %label
                    %input{type: 'checkbox', name: 'mock_state', value: "#{mock_data.nil? ? nil : mock_data.mock_state }"}
                    Enable/Disable Mock Response
    %div{class: 'form-group'}
        %label{class: 'control-label',for: 'mock_request_url'} Request URL To mock
        %input{type: 'text', class: 'form-control', name: 'mock_request_url', placeholder: 'Request URL', value: "#{mock_data.nil? ? nil : mock_data.mock_request_url }"}
    %div{class: 'row'}
        %div{class: 'form-group col-md-3'}
            %label{class: 'control-label',for: 'mock_environment'} Test Environment
            %select{class: 'form-control', name: 'mock_environment', value: "#{mock_data.nil? ? nil : mock_data.mock_environment }"}
                %option integration
                %option production
                %option quality
        %div{class: 'form-group col-md-3'}
            %label{class: 'control-label',for: 'mock_content_type'} Response Content Type
            %select{class: 'form-control', name: 'mock_content_type', value: "#{mock_data.nil? ? nil : mock_data.mock_content_type }"}
                %option application/json;charset=UTF-8
                %option text/xml
                %option text/html
        %div{class: 'form-group col-md-6'}
            %label{class: 'control-label',for: 'mock_data_response_headers'} Other Response Header(s)
            %textarea{class: 'form-control', name: 'mock_data_response_headers', rows: 8}#{mock_data.nil? ? nil : mock_data.mock_data_response_headers}
    %div{class: 'row col-md-12'}
        %div{class: 'form-group'}
            %label{class: 'control-label',for: 'mock_data_response'} Response Body
            %textarea{class: 'form-control', name: 'mock_data_response', placeholder: 'Response Body', rows: 50}#{mock_data.nil? ? nil : mock_data.mock_data_response }
    %button(type="submit" class="btn btn-primary btn-lg btn-block")Create/Update Mock Data