:javascript
    $('li').removeClass('active');
    $('#tab-search').addClass('active');
%div{class: 'page-header'}
    %h2 Mock Server - Search Results
    -if search_data
        %table{class: "table table-striped"}
            %thead
                %tr
                    %th #
                    %th Mock Name
                    %th Mock Environment
                    %th HTTP Verb
                    %th HTTP Status
                    %th Mock URL
                    %th Status
                    %th Updated
                    %th Served
                %tbody
            - search_data.each do |row|
                -if row.mock_state == true
                    %tr{class: 'success'}
                        %td
                            %span{class: "glyphicon glyphicon-edit"}
                            %a{:href => "/mock/update/#{row.id}"}
                                #{row.id}
                        %td #{row.mock_name}
                        %td #{row.mock_environment}
                        %td #{row.mock_http_verb}
                        %td #{row.mock_http_status}
                        %td #{row.mock_request_url.length > 100 ? row.mock_request_url[0..100]+'...' : row.mock_request_url}
                        %td #{row.mock_state == true ? 'ON' : 'OFF'}
                        %td #{row.updated_at}
                        %td #{row.mock_served_times}
                -else
                    %tr
                        %td
                            %span{class: "glyphicon glyphicon-edit"}
                            %a{:href => "/mock/update/#{row.id}"}
                                #{row.id}
                        %td #{row.mock_name}
                        %td #{row.mock_environment}
                        %td #{row.mock_http_verb}
                        %td #{row.mock_http_status}
                        %td #{row.mock_request_url.length > 100 ? row.mock_request_url[0..100]+'...' : row.mock_request_url}
                        %td #{row.mock_state == true ? 'ON' : 'OFF'}
                        %td #{row.updated_at}
                        %td #{row.mock_served_times}
    -else
        %h2{class: 'bg-warning text-center'} Search returned no results !